/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #9b2c2c; /* Dark Red Primary Color */
  --ifm-color-primary-dark: #7b1c1c; /* Darker Shade of Red */
  --ifm-color-primary-darker: #5c0d0d; /* Even Darker Shade of Red */
  --ifm-color-primary-darkest: #3c0000; /* Darkest Shade of Red to Black */
  --ifm-color-primary-light: #c85a5a; /* Lighter Shade of Red */
  --ifm-color-primary-lighter: #e68a8a; /* Even Lighter Shade of Red */
  --ifm-color-primary-lightest: #ffbaba; /* Lightest Shade of Red */
  --docusaurus-highlighted-code-line-bg: #c85a5a33; /* Highlighted Code Line Background */
}
